.LOGIN_message {

    font-size: 30px;
    text-align: center;

}

.input {

    margin: 1rem auto;
    align-items: center;

}
button {

    text-align: center;
    background-color: orange;


}

.conteiner {
    text-align: center;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    padding: 30px;

}

.devbox {
    text-align: right;
}

body{
    background-color: gray;
    text-align: -webkit-center;
}